/* dancing-script-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/dancing-script-v24-latin-regular.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/dancing-script-v24-latin-regular.woff')
      format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* dancing-script-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/dancing-script-v24-latin-700.woff2') format('woff2'),
    /* Chrome 36+, Opera 23+, Firefox 39+ */ url('../fonts/dancing-script-v24-latin-700.woff')
      format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --base-color: #cad3f5;
  --main-color: #f5a97f;
  --secondary-color: #eed49f;
  --attention-color: #7dc4e4;
  --text-color: #24273a;
  font-family: 'Dancing Script';
  color: var(--text-color);
}

header {
  background-color: var(--main-color);
  display: grid;
  grid-template-rows: 80px;
  place-items: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 5rem;
}

main {
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
}

menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  gap: 20px;
  padding: 0;
}

a {
  color: var(--attention-color);
}

.tab {
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--secondary-color);
  height: 60px;
  width: 120px;
  cursor: pointer;
  display: grid;
  place-items: center;
  font-size: 2rem;
  border-radius: 30px 30px 30px 10px;
}

.tab.active {
  background-color: var(--attention-color);
}

#hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 20px 100px 10px 10px;
  background-color: var(--secondary-color);
  overflow: hidden;
  gap: 20px;
  padding-left: 20px;
}

#hero-text {
  display: grid;
  place-items: center;
}

#hero-figure {
  display: grid;
  grid-template-rows: 1fr;
  margin: 0;
  justify-self: end;
  object-fit: cover;
  gap: 5px;
}

#hero-image {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 50%;
}

#hero-figure > figcaption {
  background-color: white;
  padding: 5px;
  border-right: 5px solid var(--secondary-color);
  border-bottom: 5px solid var(--secondary-color);
  border-radius: 20px;
}
