*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --color-light: #ffffff;
    --color-dark: #000000;
    --color-brand-alpha: #264653;
    --color-brand-beta: #2a9d8f;
    --color-brand-gamma: #e9c46a;
    --color-brand-psi: #f4a261;
    --color-brand-omega: #e76f51;
}

body {
    min-height: 100svh;
    display: grid;
    grid-template: 100px auto / 1fr 2fr 1fr;
}

header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    display: grid;
    justify-content: center;
    align-items: end;
}

nav {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 170px;
    gap: 30px;
}